@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
h1 {
    text-align: center;
}

.container-body {
    display: flex;
}


.container-consultas{
    width: 100%;
    margin-top: 5vw;
    margin-left: 30vw;
    margin-right: 10rem;
}
.container-consulta{
    margin-top: 90px;   
    margin-bottom: 90px;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke;
    padding: 2px 0;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, 0.77);
}

.container-consulta table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
}

.container-consulta table tr th {
    height: 56px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .25px;
    text-align: center;
    padding: 0 10px;
}

.container-consulta table tr.item td {
    border-bottom: 1px solid #c8cacc;
    padding: 0 10px;
}

.container-consulta table tr.item {
    height: 60px;
}

.container-consulta table tr td.icone {
    width: 5%;
}

.container-consulta table tr td {
    vertical-align: middle;
    width: 20%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.container-consulta table tr td .botao-consultas {
    font-size: 14px;
    max-width: 90px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #00bfa6;
    border: 2px solid  #00bfa6;
    border-radius: 5px;
    background-color: transparent;
    padding: 8px 10px;
    min-height: 20px;
}

.container-consulta table tr td .botao-consultas:hover {
    background-color: #dbdef6;
}

.data-consultas {
    text-align: center;
}
@media (max-width: 768px){
    .container-consultas{
        margin-left: 140px;
        margin-top: 90px;
    }
    .container-consulta{
        width: 350px;
    }
    
}