
.sidebar {
    width: 20vw;
    background-color: #ffffff;
    min-height: 100vh;
    padding: 30px 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
    border-right: 1px solid #e5e5e5;
    border-radius: 0 1rem 1rem 0;
    position: fixed;
  }
   
  .titulo-nav img {
    width: 140px;
    margin-bottom: 30px;
  }
   
  .nav-link {
    color: #333;
    font-weight: 500;
    margin: 10px 0;
    border-radius: 0.5rem;
    transition: background 0.3s ease;
  }
   
  .nav-link:hover,
  .nav-link.active {
    background-color:whitesmoke;
    color:  #00bfa6;
  }
   
  .icon {
    margin-right: 10px;
  }

  @media(max-width:767px){
    .sidebar{
      display: none;
    }
  }